<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit todo</title>
    <!--<link rel="stylesheet" type="text/css" href="/detailstyle.css">-->
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="container" style="background: #343a40!important">

<form class="form-dark" action="#" th:action="@{|/todo/${todo.getId()}/edit|}" method="post" th:object="${todo}">
    <div>
        <label style="color: lightgray" class="col-lg-2" th:text="'Task number: ' + *{getId()}"></label>
    </div>
    <div>
        <label style="color: lightgray; padding:0px 15px" th:text="'Created at: ' + *{getCreationDate()}"></label>
    </div>

    <table>
        <tr>
            <td><label class="col-lg-2" for="title" style="width: 60px; color: lightgray">Title: </label></td>
            <td><input type="text" id="title" th:field="*{title}" required></td>
        </tr>
        <tr>
            <td><label style="color: lightgray" class="col-lg-2" for="description">Description: </label></td>
            <td><textarea  id="description" th:field="*{description}"></textarea></td>
        </tr>
        <tr>
            <td><label style="color: lightgray" class="col-lg-2">Owner: </label></td>
            <!-- th:field does not work with select:
             https://www.baeldung.com/thymeleaf-select-option -->
            <td><select name=owner required>
                <option th:each="owner : ${owners}"
                        th:text="${owner.getName()}"
                        th:value="${owner.getId()}"
                        th:selected="${todo.getOwner().getName().equals(owner.getName())}">
                </option>
            </select></td>
        </tr>
        <tr>
            <td><label style="color: lightgray" class="col-lg-2">Project: </label></td>
            <td><select name="project" required>
                <option th:each="project : ${projects}"
                        th:text="${project}"
                        th:value="${project}"
                        th:selected="${todo.getProject().equals(project)}">
                </option>
            </select></td>
        </tr>
        <tr>
            <td><label style="color: lightgray" class="col-lg-2">Context: </label></td>
            <td><select name="context" required>
                <option th:each="context : ${contexts}"
                        th:text="${context}"
                        th:value="${context}"
                        th:selected="${todo.getContext().equals(context)}">
                </option>
            </select></td>
        </tr>
        <tr>
            <td><label style="color: lightgray" class="col-lg-2" for="date">Due date: </label></td>
            <td><input type="date" id="date" th:field="*{dueDate}"
                       placeholder="yyyy.mm.dd." pattern="\d{4}/\d{2}/\d{2}"
                       required></td>
        </tr>
        <tr>
            <td><label style="color: lightgray" class="col-lg-2">Priority: </label></td>
            <td><select name="prio" required>
                <option th:each="priority : ${priorities}"
                        th:text="${priority}"
                        th:value="${priority.name()}"
                        th:selected="${todo.getPrio().equals(priority)}">
                </option>
            </select></td>
        </tr>
        <tr>
            <td><label style="color: lightgray" class="col-lg-2">Status: </label></td>
            <td><select name="status" required>
                <option th:each="status : ${statuses}"
                        th:text="${status}"
                        th:value="${status.name()}"
                        th:selected="${todo.getStatus().equals(status)}">
                </option>
            </select></td>
        </tr>
    </table>

    <div>
        <input class="col-lg-1 btn btn-warning" style="margin-right: 20px" type="submit" value="Save">
        <a class="col-lg-1 btn btn-warning" style="background-color: gray; border-color: gray; text-decoration: none; color: white" th:href="'/'">Cancel</a>
    </div>
</form>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</body>
</html>