<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
    <link href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body class="container" style="background: #343a40!important">

<form class="form-dark" action="#" th:action="@{/settings}" method="post" th:object="${settings}">
    <div>
        <H2>Settings</H2>
    </div>

    <table>
        <tr>
            <td><label class="col-lg-2" for="owner" style="width: 60px; color: lightgray">Owners: </label></td>
            <td><input type="text" id="owner" th:value="${owners}" required></td>
        </tr>
        <tr>
            <td><label style="color: lightgray" class="col-lg-2" for="project">Projects: </label></td>
            <td><input type="text" id="project" th:field="*{projects}" required></td>
        </tr>
        <tr>
            <td><label style="color: lightgray" class="col-lg-2" for="context">Contexts: </label></td>
            <td><input type="text" id="context" th:field="*{contexts}" required></td>
        </tr>
    </table>

    <div>
        <input class="col-lg-1 btn btn-warning" style="margin-right: 20px" type="submit" value="Save">
        <a class="col-lg-1 btn btn-warning" style="background-color: gray; border-color: gray; text-decoration: none; color: white" th:href="'/'">Cancel</a>
    </div>
</form>
<script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.bundle.js"></script>
</body>
</html>